body {
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-family: $font-family;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
} 
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.title {
    margin: 0px;
    padding: 0px;
}
.section {
    margin-top: 0px;
    padding: 0px;

    &-title {
        padding: 0px;
        margin-bottom: 50px;
        margin-top: 0px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-text-color;
      }
}
.portfolio-header {
    margin-bottom: 94px;
    outline: 1px solid #ECECEC;
}
.invisible-title {
    opacity: 0;
    margin: 0px;
    padding: 0px;
    height: 0px;
}